@font-face {
  font-family: Be Vietnam Pro;
  font-weight: 400;
  src: url("../fonts/BeVietnamPro-Regular.ttf");
}
@font-face {
  font-family: Be Vietnam Pro;
  font-weight: 500;
  src: url("../fonts/BeVietnamPro-Medium.ttf");
}
@font-face {
  font-family: Be Vietnam Pro;
  font-weight: 700;
  src: url("../fonts/BeVietnamPro-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Be Vietnam Pro;
}
textarea {
  resize: none;
}
.col-edit {
  flex: 0 0 auto;
  width: 20%;
}
.sidenav {
  padding-top: 32px;
  padding-left: 7px;
  padding-right: 20px;
  border-right: 1px solid #eaecf0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.logo {
  padding-bottom: 20px;
  padding-left: 5px;
}
.logo a {
  display: block;
  text-decoration: none;
}
.logo span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: #101828;
}
.logo img {
  border-radius: 50%;
  max-width: 100%;
  margin-right: 6px;
  max-height: 32px;
}
.nav-item {
  width: 100%;
  position: relative;
}
.nav-sidebar > .nav-item .nav-icon {
  max-width: 100%;
  margin-right: 8px;
}
.nav-sidebar > .nav-item > .sub-menu > .nav-item {
  padding-left: 32px;
}
.nav-sidebar > .nav-item,
.nav-sidebar > .nav-item > .nav-link {
  padding-left: 5px;
}
.nav-sidebar > .nav-item > .sub-menu > .nav-item > .nav-link:hover > p,
.nav-sidebar > .nav-item > .nav-link:hover > p {
  color: #101828;
}
.sub-menu {
  display: none;
}

.nav-sidebar > .nav-item > .nav-link:hover,
.nav-sidebar > .nav-item > .sub-menu > .nav-item:hover {
  background: #f2f4f7;
  border-radius: 6px;
}
.nav-link p {
  display: inline;
  margin: 0;
  vertical-align: middle;
  white-space: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
}
.nav-link p .right {
  position: absolute;
  right: 16px;
  max-width: 100%;
  top: 20px;
}
.still {
  padding-left: 46px;
}
.still img {
  max-width: 100%;
}
.still p {
  font-size: 16px;
  line-height: 24px;
  padding-left: 5px;
  color: #3293fa;
}
.sidenav .sidenav-menu {
  flex-grow: 1;
}
.user-panel {
  display: flex;
  padding-left: 5px;
  position: relative;
  gap: 12px;
  padding-right: 10px;
}
.user-panel .image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.user-panel .image img {
  max-width: 100%;
  object-fit: cover;
}
.info-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.info-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}
.user-panel .arrow-right {
  position: absolute;
  max-width: 100%;
  top: 5px;
  right: 15px;
}
.sidenav-footer {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #eaecf0;
}
.nav-contact {
  z-index: 1000;
  display: none;
  position: absolute;
  left: 104%;
  transition: 0.25s;
  bottom: 0;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-contact .nav-item {
  width: 200px;
}
.nav-contact .nav-item:last-child {
  border-top: 1px solid #f2f4f7;
}
.nav-contact .nav-item .nav-link h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin: 0;
}
.nav-contact .nav-item .nav-link p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 4px;
  color: #344054;
}

.content-wrapper {
  background-color: #f2f4f7;
}
.content-header {
  padding: 32px 62px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.content-header h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  margin: 0;
  color: #101828;
}
.content {
  padding-top: 32px;
  padding-bottom: 88px;
}
.filter-group {
  margin-bottom: 24px;
  position: relative;
}
.filter-group::after {
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 97%;
  left: 10px;
  background: #eaecf0;
}
.filter-group .nav-item {
  width: auto;
  position: relative;
}
.filter-group .nav-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #101828;
  /* top: 0; */
  bottom: 0;
  left: 0;
}
.filter-group .nav-item .nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #98a2b3;
}
.filter-group .nav-item.active .nav-link {
  color: #101828;
}
.content_left {
  margin-left: 52px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 12px;
}
.content h2 {
  margin: 0;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.user-block img {
  max-width: 100%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.general-form {
  padding: 24px 16px;
}
.general-form .form-group {
  position: relative;
}
.general-form .form-group .form-control {
  padding: 10px 14px;
  margin-bottom: 25px;
}
.general-form .form-group .form-control:focus {
  border: 1px solid #a0cbfa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #eff8ff;
  border-radius: 8px;
}
.general-form .form-group label {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
.form-control::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #98a2b3;
}
.input-group-icon {
  padding-left: 45px !important;
}

.general-form .form-group .icon {
  display: block;
  position: absolute;
  top: 9px;
  left: 25px;
}
.general-form .form-group .icon img {
  max-width: 100%;
}
.front_view_img {
  width: 100%;
}
.front_view_img img {
  max-width: 100%;
}
/* category */
.title h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 5px;
  color: #101828;
}
.title .add-new a:active,
.title .add-new a {
  background: #3293fa;
  border: 1px solid #3293fa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 20px;
}
.title .add-new a p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
.title .add-new a p img {
  margin-top: -4px;
}
.block-content {
  padding-top: 12px;
  margin: 0 64px;
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 12px;
}
.wrap-pic {
  border: 0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}
.wrap-pic img {
  max-width: 100%;
}
.ab-t-l {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.36);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.wrap-pic-name {
  position: absolute;
  bottom: 16px;
  cursor: pointer;
  left: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  max-width: 192px;
  color: #ffffff;
}
.pic-more,
.pic-checked {
  position: absolute;
  top: 15px;
  right: 22px;
}
.list-action {
  position: absolute;
  display: none;
  border-radius: 8px;
  overflow: hidden;
  width: 125px;
  top: 45px;
  right: 20px;
  background: #ffffff;
}
.list-action li a p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.list-action li {
  background: #ffffff;
}
.list-action li:hover {
  background: #f2f4f7;
}
.wrap-pic ul li a img {
  max-width: 100%;
  margin-right: 14px;
}
/* create_category */
.back-home {
  padding-left: 26.54px;
  padding-bottom: 25px;
}
.back-home img {
  max-width: 100%;
  margin-right: 20px;
}
.back-home p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.general-form select:focus {
  border: 1px solid #a0cbfa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #eff8ff;
  border-radius: 8px;
}
.general-form select option:hover {
  background: lime;
}
.pic-checked {
  width: 28px !important;
  height: 28px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.74);
}
.pic-checked input {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.general-form .wrap-pic {
  margin-top: 5px;
  margin-bottom: 24px;
}
.btn-form {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 40px;
  font-size: 14px;
  color: #344054;
}
.create {
  background: #3293fa;
  border: 1px solid #3293fa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #ffffff;
}
/* libraries */
.header-shop {
  padding-bottom: 0;
}
.header-shop h1 {
  margin-bottom: 15px;
}
.product-filter .product-item {
  border-radius: 15px;
  border: 1px solid #eaecf0;
  overflow: hidden;
}
.product-filter .product-item h6 {
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 142px;
  height: 40px;
  line-height: 20px;
  color: #101828;
}
.product-item-text {
  padding: 12px 16px;
  background: #f2f4f7;
}
.price-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}
.price-value {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #3293fa;
}
.product-item .list-action {
  width: 140px;
}
/* modal */
.modal-delete .modal-content {
  max-width: 400px;
}
.modal-delete .modal-header,
.modal-delete .modal-footer {
  border: 0;
  justify-content: space-between;
  padding-left: 18px;
}
.modal-delete .modal-body {
  padding: 0 24px 10px 24px;
}
.modal-delete .modal-body h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
.modal-delete .modal-body small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}
.modal-delete .modal-footer .btn {
  width: 170px;
  height: 40px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.url-video h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  margin: 0;
}
.url-video h3 img {
  max-width: 100%;
  margin-right: 15px;
}
.url-video .form-control {
  background: #f2f4f7;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 48px;
  margin-bottom: 0 !important;
}
.url-video .form-control:focus {
  background: #f2f4f7 !important;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  border-radius: 48px !important;
  border: 0 !important;
  outline: 0;
}
.action-video .form-check-input {
  width: 36px;
  height: 20px;
  border-radius: 12px;
}
.url-video .form-group {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  margin-bottom: 24px;
  border-radius: 12px;
}
.url-video .still {
  padding-left: 0;
  margin-bottom: 24px;
  margin-left: -12px;
}
.create-QR .success img {
  width: 18px;
  max-width: 100%;
  height: 18px;
  margin-right: 3px;
  margin-top: -3px;
}
.create-QR .success {
  font-weight: 500;
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 12px;
  line-height: 20px;
  color: #12b76a;
}
.create-QR .imageQR {
  border: 1px solid #eaecf0;
  width: 100%;
  height: 181px;
}
.create-QR .imageQR img{
  height: 181px;
}
.create-QR .form-group {
  padding-left: 20px;
}
.refresh_QR img {
  max-width: 100%;
  margin-right: 5px;
}
.refresh_QR p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
.choose-theme {
  padding-top: 12px;
}
.theme-item {
  margin-bottom: 24px;
}
.theme-item img {
  max-width: 100%;
  object-fit: cover;
}
.status {
  margin-top: 12px;
  text-align: center;
}
.add_product_block {
  margin-left: 52px;
}
.add_product_block .add_product {
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.add_product_block .add_product img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-bottom: 3px;
  margin-right: 3px;
}
.list-item a {
  padding: 12px 16px;
}
.list-item a p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.list-item img {
  max-width: 100%;
  margin-right: 10px;
}
.list-item > .nav-item {
  margin-top: 32px;
  background-color: #ffffff;
  border-radius: 12px;
}
.add_product_block .list-item {
  position: relative;
}
.list-item .list-action {
  position: absolute;
  top: 35px;
  z-index: 100;
  display: none;
  right: 12px;
  width: 99px;
}
.add_product_block .list-item .list-action li a {
  padding: 10px 16px;
}
.add_product_block .list-item .pic-more {
  position: unset;
}
.add_product_block .modal,
.product-filter .modal {
  --bs-modal-width: 616px;
}
.add_product_block .modal-content h1,
.product-filter .modal-content h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  flex: 3;
  color: #101828;
}
.add_product_block .modal-content .btn-close,
.product-filter .modal-content .btn-close {
  opacity: 1;
}
.add_product_block .modal-content .btn-close:focus,
.product-filter .modal-content .btn-close:focus {
  box-shadow: none;
}
.add_product_block .modal-content ul li a h3 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  color: #101828;
}
.add_product_block .modal-content ul li {
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 5px;
  margin: 0 20px;
}
.add_product_block .modal-content ul li:last-child {
  border: 0;
}
.add_product_block .modal-content ul li a {
  padding-left: 0;
  position: relative;
  padding-right: 0;
}
.add_product_block .modal-content ul li a img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.add_product_block .modal-content ul li a p {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  line-height: 18px;
  color: #667085;
}
.list-products-block .list-item > li {
  position: relative;
}
.list-products-block .list-item .action-video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 56px;
}
.about_me .back-home,
.product-filter .back-home {
  padding-top: 16px;
  padding-bottom: 20px;
}
.about_me .title h3,
.description_block .title h3,
.view_url_tiktok .title h3,
.see_QR_code .title h3 {
  margin-bottom: 0;
}
.about_me .title,
.description_block .title,
.view_url_tiktok .title,
.see_QR_code .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 24px;
}
.about_me .add-new .btn p,
.description_block .add-new .btn p,
.view_url_tiktok .add-new .btn p,
.see_QR_code .add-new .btn p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.product-filter .title {
  border-bottom: 1px solid #eaecf0;
}
.product-filter .title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}
.more_products {
  position: relative;
  background: #ffffff;
  border: 1px dashed #3293fa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 15px;
  height: 369px;
  margin-top: 24px;
  width: 100%;
}
.add-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-circle a {
  text-align: center;
}
.add-circle img {
  max-width: 100%;
}
.add-circle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3293fa;
}
.product-filter .modal-content h1 p {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #667085;
}
.product-filter .modal-content select {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  margin-bottom: 24px;
}
.product-filter .modal-content .general-form {
  padding: 0;
  padding-top: 15px;
}
.product-filter .modal-footer {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.product-filter .modal-footer .btn {
  width: 286px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  line-height: 20px;
}
.product-filter .modal-footer .btn:first-child {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  color: #344054;
}
.chat_app .title {
  padding-bottom: 20px;
}
.description_form {
  padding-bottom: 0;
}
.see_QR_code .create-QR .imageQR {
  border: 0;
  height: auto;
  margin-bottom: 24px;
}
.QR_profile {
  margin-bottom: 24px;
}
.QR_profile .create-QR {
  padding-bottom: 0;
}
.QR_profile .create-QR .btn-form {
  background: #3293fa;
  width: 200px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #3293fa;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.block-created-QR-list .title h3 {
  padding-bottom: 12px;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #eaecf0;
}
.image_QR{
  padding-left: 18px;
}
.title_QR {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_QR h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.title_QR img {
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.content_of_QR {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}
